<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CEN4535C Dev Game and Mob App</key>
	<string>Chuan</string>
	<key>CEN6016 Engineering of Software I</key>
	<string>Roggio</string>
</dict>
</plist>
