<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIS4327 Information Sys Sr Project I</key>
	<string>Umapathy</string>
	<key>CIS4850C Spatial Information Systems</key>
	<string>Lambert</string>
	<key>CIS3949 Experimental Studies in CIS</key>
	<string>Asaithambi</string>
	<key>CIS6320 Distributed/Internet Systems</key>
	<string>Ahuja</string>
</dict>
</plist>
